.DS_Store
other/st2/User/RubyTest.last-run
other/st2/User/FileHistory.json
*.pyc
other/st2/User/Package Control.last-run
*.orig

/shells/vim/viminfo
/shells/vim/bundle
/shells/vim/swap
/shells/vim/undo
/shells/vim/tmp
.netrwhist
