.DS_Store
other/st2/User/RubyTest.last-run
other/st2/User/FileHistory.json
*.pyc
other/st2/User/Package Control.last-run
*.orig

/shells/vim/yankring_history*
/shells/vim/viminfo
/shells/vim/swap
/shells/vim/undo
.netrwhist
