.DS_Store
*.pyc
*.orig

/shells/vim/viminfo
/shells/vim/bundle
/shells/vim/swap
/shells/vim/undo
/shells/vim/tmp
.netrwhist

# ignore package control stuff

*.last-run
other/st2/User/FileHistory.json
other/st3/User/Package Control.cache/*
