# put your machine-specific settings in here

alias e='subl'
alias o='open'
alias cdd='cd ~/Desktop'
alias cdg='cd $GEM_HOME'

alias p='passenger'
alias r='rails'
alias g='git'
alias c='cd /usr/local/Cellar'

export EDITOR='subl -w'

# mm start|stop
# launchctl load ~/Library/LaunchAgents/org.mongodb.mongod
function mm()
{
  launchctl $1 org.mongodb.mongod
}

# cd to gem folder
cdb(){
  cd `bundle show $1`
}

eb(){
  e `bundle show $1`
}

[[ -e /sw/bin/init.sh ]] && sh /sw/bin/init.sh
[[ -d /opt/local/bin ]] && push_path /opt/local/bin
[[ -d /Developer/usr/bin ]] && push_path /Developer/usr/bin

export PROMPT_COLOR='yellow'

export LC_ALL=en_US.UTF-8
export RAILS_ENV='development'
export RACK_ENV='development'

# RVM
[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"